:root {
  --color-background: #FFFFFF;
  --color-background-secondary: #F4F5F5;
  --color-text: #333333;
  --color-small-info: #757575;
  --color-input-background: #F8F8F8;
  --color-input-background-border: #D8D8D8;
  --color-input-background-active: #FFFFFF;
  --color-primary: #F9A826;
  --color-secondary: #EE9300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, arial, sans-serif;
}

body {
  background: var(--color-background);
}

.center {
  display: flex;
  justify-content: center;
}