.login_page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image {
    height: 100vh;
    width: 50vw;
    background-color: var(--color-background-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 30vw !important;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.form {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form h1 {   
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 1em;
}

.form p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-small-info);
    margin-bottom: .2em;
}