.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em;
    margin-bottom: 2em;
    color: var(--color-primary);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    margin-left: .5em;
}

.link_items {
    display: flex;
    list-style: none;
}

.link_items li {
    margin-right: 1.3em;
}

.link_items a {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: var(--color-primary);
    text-decoration: none;
    padding: 5px;
    transition: .5s;
    border-bottom: 2px solid transparent;
}
.link_items a svg {
    margin-right: .2em;
}

.link_items a:hover {
    border-color: var(--color-primary)f;
}
