.msgTable {
    white-space: nowrap; 
    width: 12em; 
    overflow: hidden; 
    text-overflow: ellipsis;
    text-align: center;
}

.row td {
    text-align: center;
    cursor: pointer;
}

.btnExclui {
    cursor: pointer;
    transition: .5s;
}

.btnExclui:hover {
    color: var(--color-primary);
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.msgDivDiv {
    display: flex;
    justify-content: center;
}

.btns>svg:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.589);
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.btns>svg {
    /* margin: 10px 14px; */
    padding: 8px;
    width: 2em;
    height: 2em;
    border-radius: 50%;
}