.msgTable {
    white-space: nowrap; 
    width: 12em; 
    overflow: hidden; 
    text-overflow: ellipsis;
    text-align: center;
}

.row td {
    text-align: center;
}

.btnExclui {
    cursor: pointer;
    transition: .5s;
}

.btnExclui:hover {
    color: var(--color-primary);
}