/* table styles */
.table {
    border-collapse: collapse;
    width: 90vw;
    margin: 2rem;
}
.table th, .table td {
    padding: 0.6rem;
    width: 10%;
    border: 1px solid #ddd;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--color-primary);
  color: white;
}